<footer>
  <a href="https://github.com/ikkoham" target="_blank">
    <span class="fa-stack fa-2x">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-github fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  <a href="https://twitter.com/ikkoham" target="_blank">
    <span class="fa-stack fa-2x">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  <a href="https://www.facebook.com/ikko.hamamura" target="_blank">
    <span class="fa-stack fa-2x">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-facebook-square fa-stack-1x fa-inverse"></i>
    </span>
  </a><br>
  <small>
    <i class="fa fa-copyright"></i>
    2015 Ikko Hamamura.
  </small>
</footer>
