<section id="presentation">
  <h2>
    <a href="#presentation">
      <i class="fa fa-bar-chart"></i>Presentation
    </a>
  </h2>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-university"></i>Domestic(Oral)
      <ol reversed="reversed">
        <li>Ikko Hamamura<br>
          "Incompatibility of operation and relation between information and disturbance"<br>
          <a href="http://bayes.sigmath.es.osaka-u.ac.jp/ftanaka/workshop/RIMS2016.html" target="_blank">
            Mathematics in Quantum System Estimation
          </a>,
          @Research Institute for Mathematical Sciences, Kyoto University
          Oct. 26-28, 2016
        </li>
        <li>Ikko Hamamura and Takayuki Miyadera<br>
          "Incompatibility in general probability theories"(16pKH-4)<br>
          <a href="http://h-jps.w3.kanazawa-u.ac.jp/jps2016f/jps2016f/homu.html" target="_blank">
            JPS The 2016 Autumn Meeting
          </a>,
          @Kanazawa univ.,
          Sep. 16, 2016
        </li>
        <li>Ikko Hamamura and Takayuki Miyadera<br>
          "Relation between state-distinction power and disturbance
          in quantum measurements"(16aAC-07)<br>
          <a href="http://www2.kansai-u.ac.jp/jps2015/" target="_blank">
            JPS The 2015 Autumn Meeting
          </a>,
          @Kansai univ.,
          Sep. 16, 2015
        </li>
      </ol>
    </li>
    <li><i class="fa-li fa fa-university"></i>Domestic(Poster)
      <ol reversed="reversed">
        <li>
          Ikko Hamamura<br>
          "On incompatible operation in quantum theory"<br>
          <a href="http://www.sceng.kochi-tech.ac.jp/koban/quatuo/doku.php?id=%E7%AC%AC6%E5%9B%9Equatuo%E7%A0%94%E7%A9%B6%E4%BC%9A" target="_blank">
            QUAntum Theory & Technology Un-Official Meeting
          </a>
          @Kochi University of Technology
          Jan. 8-9, 2017
        </li>
        <li>
          Ikko Hamamura<br>
          "Quantum Incompatibility and Information-Disturbance Tradeoff"<br>
          <a href="http://www-conf.kek.jp/QMKEK/" target="_blank">
            QMKEK
          </a>
          Kobayashi Hall in High Energy Accelerator Research Organization
          Feb. 17-18, 2016
        </li>
        <li>
          Ikko Hamamura<br>
          "Quantum non-demolition measurements from a perspective of quantum measuremant theory"<br>
          <a href="http://yagura.scphys.kyoto-u.ac.jp/wakate/index.php?%E3%81%8A%E7%9F%A5%E3%82%89%E3%81%9B#o3ac5705" target="_blank">
            Quantum Information Kansai Student Chapter 19th
          </a>
          Osaka University
          Nov. 28, 2015
        </li>
        <li>
          Ikko Hamamura、Takayuki Miyadera<br>
          「Relation between state-distinction power and disturbance
          in quantum measurements」<br>
          <a href="http://www.jst.go.jp/impact/yamamoto/workshop/shikotsu.html" target="_blank">
            ImPACT Mirai Kaitaku Kenkyukai 2015
          </a>
          Kyukamura Shikotsuko
          Oct. 13-18, 2015
        </li>
      </ol>
    </li>
    <li><i class="fa-li fa fa-university"></i>Summer School
      <ol reversed="reversed">
        <li>
          Ikko Hamamura<br>
          「Incompatibility in Quantum Theory」(oral)<br>
          <a href="http://cmpss.jp/index.html" target="_blank">
            61th Condensed Matter Physics Summer School 2016
          </a>
          @Hotel Charade Inn Shiga
          Sep. 29 - Aug. 2, 2016
        </li>
        <li>
          Ikko Hamamura<br>
          「Relation between state-distinction power and disturbance」(poster)<br>
          <a href="http://cmpss.jp/index.html" target="_blank">
            61th Condensed Matter Physics Summer School 2016
          </a>
          @Hotel Charade Inn Shiga
          Sep. 29 - Aug. 2, 2016
        </li>
        <li>
          Ikko Hamamura<br>
          「Quantum error correction and the AdS/CFT correspondence(review)」(oral)<br>
          <a href="http://www.tuhep.phys.tohoku.ac.jp/~natsugaku2015/" target="_blank">
            Summer School by Young Nuclear and Particle Physicist Group of Japan
          </a>
          @Hotel Tatsuki
          Aug. 17-22, 2015
        </li>
      </ol>
    </li>
  </ul>
</section>
