<h2>
  <a href="#presentation">
    <i class="fa fa-bar-chart"></i>Presentation
  </a>
</h2>
<ul class="fa-ul">
  <li><i class="fa-li fa fa-university"></i>Domestic(Oral)
    <ol reversed="reversed">
      <li *ngFor="let p of domesticOral">
        <presentation-detail [p]="p"></presentation-detail>
      </li>
    </ol>
  </li>
  <li><i class="fa-li fa fa-university"></i>Domestic(Poster)
    <ol reversed="reversed">
      <li *ngFor="let p of domesticPoster">
        <presentation-detail [p]="p"></presentation-detail>
      </li>
    </ol>
  </li>
  <li><i class="fa-li fa fa-university"></i>Summer School
    <ol reversed="reversed">
      <li *ngFor="let p of summerSchool">
        <presentation-detail [p]="p"></presentation-detail>
      </li>
    </ol>
  </li>
</ul>
